<div class="container-registration">
<form [formGroup]="productForm" >
    <div class="form-group">
      <p>
        <mat-form-field appearance="outline" color="accent">
          <mat-label for="nome">Nome Produto</mat-label>
          <input matInput id="nome" name="nome" placeholder="digite nome produto" formControlName="name" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Tamanho máximo de 15 caracteres</mat-hint>
        </mat-form-field>
      </p>
      
      <p>
  
        <mat-form-field appearance="outline"  color="accent">
          <mat-label for="promoKey">Peso</mat-label>
          <input  matInput  id="promoKey" name="promoKey" placeholder="peso"  formControlName="weight" />
          <mat-icon matSuffix>scale</mat-icon>
          <mat-hint>somente números</mat-hint>        
        </mat-form-field>
      </p>
      <p>
  
        <mat-form-field appearance="outline"  color="accent">
          <mat-label for="promoKey">Unidade</mat-label>
          <input  matInput  id="promoKey" name="promoKey" placeholder="unidade"  formControlName="unity" />
          <mat-icon matSuffix>extension_off</mat-icon>
          <mat-hint>sigla da unidade</mat-hint>        
        </mat-form-field>
      </p>
      <p>
      <p>
  
        <mat-form-field appearance="outline"  color="accent">
          <mat-label for="promoKey">Quantidade</mat-label>
          <input  matInput  id="promoKey" name="promoKey" placeholder="quantidade"  formControlName="quantity" />
          <mat-icon matSuffix>production_quantity_limits</mat-icon>
          <mat-hint>somente números</mat-hint>        
        </mat-form-field>
      </p>
      <p>
       
        <mat-form-field appearance="outline"  color="accent">
          <mat-label for="promoKey">Preço</mat-label>
          <input  matInput  id="promoKey" name="promoKey" placeholder="preço"  formControlName="price" />
          <mat-icon matSuffix>payments</mat-icon>
          <mat-hint>somente números</mat-hint>        
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" color="accent" >
          <mat-label>Selecione categoria</mat-label>
          <mat-select   formControlName="category"  >
            <mat-option *ngFor="let category of category" [value]="category.name">
              {{category.name}}
            </mat-option>           
          </mat-select>
          <mat-icon matSuffix>check_box</mat-icon>
          </mat-form-field>
      
      </p>
      <mat-label>Escolha imagem produto</mat-label>
      <div class="image-upload">
      
        <img [src]="imageSrc" style="max-width:100px;max-height:100px"/>
        <input id="input-file" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" formControlName="image" />
     </div> 
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea formControlName="description" matInput [style.width.px]=400 ></textarea>
        </mat-form-field>
      </p>
      
      
  
        
  
  
      </div>
      <div class="form-group submit-button">
        
        <button mat-flat-button color="accent" [disabled]="productForm.invalid" (click)="onSubmit(productForm)">
          Enviar
        </button>
      </div>
    </form>
  </div>