:host{
    width: 100%;
   
    align-self: center;
   
 
   
   



}
footer{
  
    display: grid;
    width: 100%;
    background-color: #222121;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    position: fixed;
    bottom: 0;
    height: 20%;
}
footer p{
  margin-top: -40px;
}
